<header>
    <div class="logo-container">
        <img src='/images/logo.png' alt='logo' height="40px" width='auto'>
        <h4 class='logo'>Windy Markets</h4>
    </div>
    <nav>
        <ul class="nav-links">
            {{!-- TODO Hamburger menu when viewport is too small --}}
            <li><a class='nav-link' href='#'>Home</a></li>
            <li><a class='nav-link' href='#'>Options</a></li>
            <li><a class='nav-link' href='#'>What we do</a></li>
            <li><a class='nav-link' href='#'>Disclaimer</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1>The way to make money</h1>
                <p>With a personalized strategy, our trading algorithm will uncover new possibilities</p>
            </div>
            <div class="cta">
                <button class="cta-select">Download the app</button>
            </div>
        </div>
        {{!-- <div class="cover">
            <img src="/images/home.png" alt="home"/>
        </div> --}}
        <img class='big-circle' src='/images/big-eclipse.svg'>
        <img class='medium-circle' src='/images/mid-eclipse.svg'>
        <img class='small-circle' src='/images/small-eclipse.svg'>
    </section>
    <section class="options">
        <div class="options-cover">
            <img src="/images/home.png" alt="home"/>
        </div>
        
        <div class="options-text">
            <h1>Options</h1>
            <p>An option contract is a derivative traded in the stock market. It can be sold before expiration. 
            An option represents 100 stocks, so the price of the contract must be multiplied by 100 to calculate the amount of money spent.</p>
        </div>
        
    </section>

</main>